ServiceBoard/ServiceBoard/Service References/SPBoardWCFService/SPBoardWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SPBoardWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62634/SPBoardWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62634/SPBoardWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62634/SPBoardWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SPBoardWCFService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISPBoardWCFService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetSalesAnalysis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesAnalysis" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetSalesAnalysis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesAnalysisResponse" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetSalesAnalysisByCategorySum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesAnalysisByCategorySum" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetSalesAnalysisByCategorySum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesAnalysisByCategorySumResponse" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetSalesAnalysisByCategoryDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesAnalysisByCategoryDetail" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetSalesAnalysisByCategoryDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesAnalysisByCategoryDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetDebtorAnalysis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDebtorAnalysis" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetDebtorAnalysis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDebtorAnalysisResponse" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="ISPBoardWCFService_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ISPBoardWCFService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPBoardWCFService/Login" message="tns:ISPBoardWCFService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPBoardWCFService/LoginResponse" message="tns:ISPBoardWCFService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesAnalysis">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetSalesAnalysis" message="tns:ISPBoardWCFService_GetSalesAnalysis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetSalesAnalysisResponse" message="tns:ISPBoardWCFService_GetSalesAnalysis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesAnalysisByCategorySum">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetSalesAnalysisByCategorySum" message="tns:ISPBoardWCFService_GetSalesAnalysisByCategorySum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetSalesAnalysisByCategorySumResponse" message="tns:ISPBoardWCFService_GetSalesAnalysisByCategorySum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesAnalysisByCategoryDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetSalesAnalysisByCategoryDetail" message="tns:ISPBoardWCFService_GetSalesAnalysisByCategoryDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetSalesAnalysisByCategoryDetailResponse" message="tns:ISPBoardWCFService_GetSalesAnalysisByCategoryDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDebtorAnalysis">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetDebtorAnalysis" message="tns:ISPBoardWCFService_GetDebtorAnalysis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetDebtorAnalysisResponse" message="tns:ISPBoardWCFService_GetDebtorAnalysis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetCategory" message="tns:ISPBoardWCFService_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPBoardWCFService/GetCategoryResponse" message="tns:ISPBoardWCFService_GetCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISPBoardWCFService" type="tns:ISPBoardWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ISPBoardWCFService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesAnalysis">
      <soap:operation soapAction="http://tempuri.org/ISPBoardWCFService/GetSalesAnalysis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesAnalysisByCategorySum">
      <soap:operation soapAction="http://tempuri.org/ISPBoardWCFService/GetSalesAnalysisByCategorySum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalesAnalysisByCategoryDetail">
      <soap:operation soapAction="http://tempuri.org/ISPBoardWCFService/GetSalesAnalysisByCategoryDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDebtorAnalysis">
      <soap:operation soapAction="http://tempuri.org/ISPBoardWCFService/GetDebtorAnalysis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/ISPBoardWCFService/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPBoardWCFService">
    <wsdl:port name="BasicHttpBinding_ISPBoardWCFService" binding="tns:BasicHttpBinding_ISPBoardWCFService">
      <soap:address location="http://localhost:62634/SPBoardWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>