ServiceBoard/ServiceBoard/Service References/SPBoardWCFService/SPBoardWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SPBoardWCFService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SPBoardWCFService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChartData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChartData" nillable="true" type="tns:ChartData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChartData" nillable="true" type="tns:ArrayOfChartData" />
  <xs:complexType name="ChartData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legend" nillable="true" type="tns:ChartLegend" />
      <xs:element minOccurs="0" name="MTDAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Point" type="xs:double" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YTDAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChartData" nillable="true" type="tns:ChartData" />
  <xs:complexType name="ChartLegend">
    <xs:sequence>
      <xs:element minOccurs="0" name="Footer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChartLegend" nillable="true" type="tns:ChartLegend" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>